
{% extends "layout.html" %}

{% block page_title %}
 Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
 <div class="grid-row">
   <div class="column-two-thirds">

     <a class="link-back" href="/url/of/previous/page">Back</a>

     <form class="form" action="/juggling-balls-answer" method="post">

         <div class="form-group">
           <fieldset>

             <legend>
               <h1 class="heading-large">
                 How many balls can you juggle?
               </h1>
             </legend>

             <div class="multiple-choice" data-target="contact-by-email">
               <input id="example-contact-by-email" type="radio" name="juggling-balls" value="None, I can't juggle"{{ checked("juggling-balls", "None, I can't juggle") }}>
               <label for="example-contact-by-email">None, I can't juggle</label>
             </div>

             <div class="multiple-choice" data-target="contact-by-phone">
               <input id="example-contact-by-phone" type="radio" name="juggling-balls" value="1 or 2"{{ checked("juggling-balls", "1 or 2") }}>
               <label for="example-contact-by-phone">1 or 2</label>
             </div>

             <div class="multiple-choice" data-target="contact-by-text">
               <input id="example-contact-by-text" type="radio" name="juggling-balls" value="3 or more"{{ checked("juggling-balls", "3 or more") }}>
               <label for="example-contact-by-text">3 or more</label>
             </div>

           </fieldset>
         </div>

       <div class="form-group">
         <input class="button" type="submit" value="Continue">
       </div>

     </form>

   </div>
 </div>
</main>

{% endblock %}
